::-webkit-scrollbar{
    width: 4px;
    color:#1856a7;
}
::-webkit-scrollbar-thumb {
    background: #1856a7; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: #1856a7;
  }
  .color{
      color: #1856a7;
  }
  #about-content a{
      color:#1856a7 ;
  }
  .cv a button{
      background: #1856a7;
  }
  .service-img img{
    background: #1856a7;
    box-shadow:0px 0px 0px 0px #1856a7 ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #1856a7 ;
}
.html-progress{
    background: #1856a7;
}
.js-progress{
    background: #1856a7;
}
.adobe-progress{
    background: #1856a7;
}
.php-progress{
    background: #1856a7;
}
.jquery-progress{
    background: #1856a7;
}
.seo-progress{
    background: #1856a7;
}
.portfolio-text h2{
    color: #1856a7;
}
.portfolio-text button{
    color: #1856a7;
    border: 1.5px solid #1856a7;
}
.portfolio-text button::before{
    background: #1856a7;
}
.portfolio-image img::before{
    background: #1856a7;
}
.blog-date{
    background: #1856a7;
}
form button{
    background: #1856a7;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #1856a7 ;
    }
}
